<div class="admin-container">
  <app-confirm-modal></app-confirm-modal>
  
  <!-- Header Superior -->
  <header class="admin-header">
    <div class="flex justify-start">
      <a routerLink="/admin/inicio" class="inline-block py-1 px-1 transition-transform hover:scale-105 w-32">
        <img src="/assets/Logo.webp" alt="Logo POSOQO" loading="lazy" class="w-full h-auto block">
      </a>
    </div>
    <button class="logout-btn" (click)="logout()" title="Cerrar sesión">
      Cerrar sesión
    </button>
  </header>

  <div class="main-body">
    <!-- Sidebar Lateral -->
    <aside class="admin-sidebar">
      <nav>
        <ul>
          <!-- Añadimos routerLinkActive="active" a cada opción -->
          <li><a routerLink="inicio" routerLinkActive="active"><i class="icon-home"></i> Inicio</a></li>
          <li><a routerLink="eventos" routerLinkActive="active"><i class="icon-calendar"></i> Eventos</a></li>
          <li><a routerLink="menu" routerLinkActive="active"><i class="icon-book"></i> Menú virtual</a></li>
          <li><a routerLink="usuarios" routerLinkActive="active"><i class="icon-users"></i> Usuarios</a></li>
          <li><a routerLink="promociones" routerLinkActive="active"><i class="icon-smile"></i> Promociones</a></li>
          <li><a routerLink="puntos" routerLinkActive="active"><i class="icon-star"></i> Puntos</a></li>
        </ul>
      </nav>
    </aside>

    <!-- Contenido Dinámico -->
    <main class="admin-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>