<div class="admin-page">
  <div class="header-table">
    <span class="table-title">Usuarios totales</span>
  </div>

  <div class="table-wrapper">
    <table class="admin-table">
      <thead>
        <tr>
          <th>Id <i class="chevron"></i></th>
          <th>Nombre <i class="chevron"></i></th>
          <th>Teléfono <i class="chevron"></i></th>
          <th>Gmail <i class="chevron"></i></th>
          <th>Puntos <i class="chevron"></i></th>
          <th>Cumpleaños</th>
        </tr>
      </thead>
      <tbody>
        @for (user of usuarios(); track user.id) {
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.nombre }} {{ user.apellidos }}</td>
            <td>{{ user.telefono }}</td>
            <td>{{ user.gmail }}</td>
            <td>{{ user.puntos }}</td>
            <td>{{ user.fecha_nacimiento || 'No registrado' }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>

</div>
