<div class="login-container" *ngIf="seccion === 'login'">
  <div class="logo">POSOQO</div>

  <div class="card-login">
    <h2>Consultar</h2>

    <form (ngSubmit)="iniciarSesion()">
      <div class="input-group">
        <label>Número o Correo</label>
        <input type="text" [(ngModel)]="usuario.numero" name="numero" placeholder="gmail/numero" required />
      </div>

      <div class="input-group">
        <label>Contraseña</label>
        <div class="password-box">
          <input [type]="mostrarPassword ? 'text' : 'password'" [(ngModel)]="usuario.password" name="password" placeholder="••••••••••••" required />
          <span class="icon-eye" (click)="togglePassword()" style="cursor: pointer;">
            {{ mostrarPassword ? '🔓' : '🔒' }}
          </span>
        </div>
      </div>

      <a (click)="irRecuperar()" class="forgot" style="cursor: pointer;">¿olvidaste tu contraseña?</a>
      <button type="submit">INICIAR SESIÓN</button>

      <p class="register">
        ¿No tienes cuenta?
        <span (click)="irRegistro()" style="cursor: pointer; font-weight: bold; color: #f5c400;">Regístrate</span>
      </p>
    </form>
  </div>
</div>

<app-registro *ngIf="seccion === 'registro'" (volver)="manejarVueltaALogin()"></app-registro>
<app-recuperar *ngIf="seccion === 'recuperar'" (volver)="manejarVueltaALogin()"></app-recuperar>
<app-inicio *ngIf="seccion === 'inicio'" (cerrar)="manejarVueltaALogin()"></app-inicio>