<div class="main-container">
  <h1 class="brand-title">POSOQO</h1>

  <div class="card-recuperar">
    <div class="step-content">
      
      <!-- PARTE 1: VALIDAR USUARIO -->
      <div *ngIf="!pasoDos">
        <h2 class="form-title">Recuperar Contraseña</h2>
        <p class="description">
          Ingresa tu correo o número y te enviaremos un código para restablecer tu contraseña.
        </p>

        <div class="input-group">
          <label>Número o Correo</label>
          <div class="input-wrapper">
            <input 
              type="text" 
              [(ngModel)]="contactoUsuario" 
              placeholder="gmail/numero"
            >
          </div>
        </div>

        <div class="button-container">
          <button class="btn-primary" (click)="enviarCodigo()">ENVIAR CÓDIGO</button>
        </div>
      </div>

      <!-- PARTE 2: CAMBIAR CLAVE -->
      <div *ngIf="pasoDos">
        <h2 class="form-title">Nueva Contraseña</h2>
        <p class="description">
          Ingresa tu nueva clave para la cuenta asociada a: <strong>{{contactoUsuario}}</strong>
        </p>

        <div class="input-group">
          <label>Nueva Contraseña</label>
          <div class="input-wrapper" style="position: relative;">
            <input 
              [type]="mostrarPassword ? 'text' : 'password'" 
              [(ngModel)]="nuevaPassword" 
              placeholder="Escribe tu nueva clave"
            >
            <!-- Icono para ver/ocultar -->
            <span class="icon-eye" (click)="togglePassword()">
              {{ mostrarPassword ? '🔓' : '🔒' }}
            </span>
          </div>
        </div>

        <div class="button-container">
          <button class="btn-primary" (click)="cambiarPassword()">ACTUALIZAR CONTRASEÑA</button>
        </div>
      </div>

      <div class="button-container" style="margin-top: 15px;">
        <button (click)="volverLogin()" style="background: none; border: none; color: #555; cursor: pointer; text-decoration: underline;">
          Volver al Login
        </button>
      </div>
      
    </div>
  </div>
</div>